.profile__descr {
  margin: 0;
  font-size: 18px;
  line-height: 21.78px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  grid-area: user-about;
}

@media screen and (max-width: 710px) {
  .profile__descr {
    font-size: 14px;
    line-height: 17px;
  }
}